<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            .pink-underline {
                color: #f0657d;
                text-decoration: none;
                position: relative;
                font-weight: 500;
            }

            .pink-underline::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background-color: #f0657d;
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }

            .pink-underline:hover::after {
                transform: scaleX(1);
            }

            .custom-swal-btn{
                background:#ff385c !important;

                color:white !important;

                border:none !important;

                outline:none !important;

                box-shadow:none !important;

                width:160px;

                height:55px;

                border-radius:14px;

                font-size:20px;

                font-weight:600;

                transition:0.3s;
            }

            .custom-swal-btn:hover{
                background:#ff2d55 !important;

                transform:scale(1.1);
            }

            .custom-swal-btn:active{
                opacity: 0.5;
            }

            .custom-swal-btn:focus{
                outline:none !important;

                box-shadow:none !important;

                border:none !important;
            }
        </style>

        <script>
            function login() {
                const email = document.getElementById("email").value;
                const pass = document.getElementById("pass").value;

                if (email === "" || pass === "") {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Incomplete Details',
                        text: 'Please fill all the details properly.',

                        confirmButtonText: 'OK',

                        confirmButtonColor: '#ff385c',

                        customClass: {
                            confirmButton: 'custom-swal-btn'
                        },

                        buttonsStyling: false
                    });
                } else {

                    let formData = new FormData();

                    formData.append("email", email);
                    formData.append("pass", pass);


                    const url = "CheckAdminLogin";

                    fetch(url, {method: "POST", body: formData})
                            .then(response => response.text())
                            .then(ans => renderHTML(ans));
                }
            }

            function renderHTML(ans) {
                console.log(ans);

//                document.getElementById("div1").innerHTML = ans;

                if (ans === "1") {
                    Swal.fire({
                        icon: 'success',

                        title: 'Login Successful',

                        text: 'Welcome back Admin!',

                        confirmButtonText: 'Continue',

                        customClass: {
                            confirmButton: 'custom-swal-btn'
                        },

                        buttonsStyling: false,

                        focusConfirm: false
                    }).then(() => {
                        window.location.href = "adminHome";
                    });
                } else {
                    Swal.fire({
                        icon: 'error',

                        title: 'Login Unsuccessful',

                        text: 'Invalid Email or Password!',

                        confirmButtonText: 'Try Again!',

                        customClass: {
                            confirmButton: 'custom-swal-btn'
                        },

                        buttonsStyling: false,

                        focusConfirm: false
                    });
                }
            }
        </script>

    <div th:replace="~{admin_fragments::admin_links}"></div>
</head>
<body>

    <div class="wrap">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col d-flex align-items-center">
                    <p class="mb-0 phone"><span class="mailus">Phone no:</span> <a href="#">+00 1234 567</a> or <span class="mailus">email us:</span> <a href="#">emailsample@email.com</a></p>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="social-media">
                        <p class="mb-0 d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{admin_fragments :: admin_header}"></div>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Contact <i class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Admin Panel</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">

        <div class="col-md-12">
            <div class="wrapper">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-7 d-flex align-items-stretch">
                        <div class="contact-wrap w-100 p-md-5 p-4">
                            <h3 class="mb-4">Admin Panel Access</h3>
                            <div id="form-message-warning" class="mb-4"></div> 
                            <div id="form-message-success" class="mb-4">
                                Secure Login for Administrators
                            </div>
                            <form class="contactForm">
                                <div class="row">
                                    <div class="col-md-6"> 
                                        <div class="form-group">
                                            <label class="label" for="email">Email Address</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="pass">Password</label>
                                            <input type="password" class="form-control" name="pass" id="pass" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="button" value="Login" class="btn btn-primary w-50" onclick="login()">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>

<!--                                    <div class="col-md-6">
                                        <div class="form-check mb-3">
                                            <input type="checkbox" id="rememberMe" class="form-check-input">
                                            <label for="rememberMe" class="form-check-label">Remember Me</label>
                                            <div class="submitting"></div>
                                        </div>
                                    </div>-->

                                    <div class="col-md-12">
                                        <div class="form-group mb-3">
                                            <a href="#" class="pink-underline">Forgot Password</a>
                                        </div>
                                    </div>

                                    <div class="m-3">
                                        <h3 id="div1"></h3>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                        <div class="info-wrap bg-primary w-100 p-md-5 p-4">
                            <h3>Let's get in touch</h3>
                            <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                            <div class="dbox w-100 d-flex align-items-start">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text pl-3">
                                    <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text pl-3">
                                    <p><span>Phone:</span> <a href="tel://7889031097">+91 7889031097</a></p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text pl-3">
                                    <p><span>Email:</span> <a href="mailto:kashyapnayyar@gmail.com">kashyapnayyar@gmail.com</a></p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text pl-3">
                                    <p><span>Website</span> <a href="#">yoursite.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<div th:replace="~{admin_fragments::admin_footer}"></div>

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<div th:replace="~{admin_fragments::admin_script}"></div>

<script th:if="${msg != null}">
    Swal.fire({
        icon: 'warning',
        title: 'Access Denied!',
        text: '[[${msg}]]',

        confirmButtonColor: '#ff385c',

        customClass: {
            confirmButton: 'custom-swal-btn',
            cancelButton: 'custom-cancel-btn'
        }
    });
</script>
</body>
</html>
